<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="coreConfiguration" type="Infrastructure.Core.Configuration.CoreConfiguration, Infrastructure.Core" requirePermission="false"/>
    <section name="appDataConfiguration" type="Infrastructure.Data.Configuration.DefaultDataConfigurationSettings, Infrastructure.Data" requirePermission="false"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" requirePermission="true"/>
    <section name="coherence" type="Tangosol.Config.CoherenceConfigHandler, Coherence"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <coreConfiguration>
    <DynamicDiscovery Enabled="true"/>
    <AssemblySkipLoadingPattern value="^System|^mscorlib|^Microsoft|^CppCodeProvider|^VJSharpCodeProvider|^WebDev|^Castle|^Iesi|^log4net|^NHibernate|^nunit|^TestDriven|^MbUnit|^Rhino|^QuickGraph|^TestFu|^Telerik|^ComponentArt|^MvcContrib|^AjaxControlToolkit|^Antlr3|^Remotion|^Recaptcha|^DevExpress|^WebGrease|^VK0|^EI0"/>
    <Engine Type=""/>
    <Cryptography SaltValue="d41d8cd98f00b204e9800998ecf8427e" PassPhrase="74be16979710d4c4e7c6647856088456" PasswordIterations="5"></Cryptography>
    <DistributedCacheManager type=""></DistributedCacheManager>
    <DistributedCacheName value="EBakanlikCacheV2"></DistributedCacheName>
  </coreConfiguration>
  <appDataConfiguration>
    <DatabaseType type="Microsoft.Practices.EnterpriseLibrary.Data.Sql.SqlDatabase"></DatabaseType>
    <DatabaseProviderName value="System.Data.SqlClient"></DatabaseProviderName>
    <DefaultDatabaseName value="IB_GENEL"></DefaultDatabaseName>
    <LogDatabaseName value="IB_LOG_TEXT"></LogDatabaseName>
    <ConnectionStringRegistryKeyPath value="SOFTWARE\Icisleri\EBakanlik\ConnectionStr"></ConnectionStringRegistryKeyPath>
    <ConfigurationSource type=""></ConfigurationSource>
    <!--Infrastructure.Data.Configuration.RegistryConfigurationSource-->
    <ApplicationSettingServiceBaseEndpoint value="net.tcp://localhost/EIcisleri.Services.IISHost"/>
  </appDataConfiguration>
  <coherence>
    <pof-config>config/pof-config.xml</pof-config>
    <cache-config>config/coherence-cache-config.xml</cache-config>
    <cache-factory-config>config/coherence.xml</cache-factory-config>
  </coherence>
  <dataConfiguration defaultDatabase="IB_GENEL_ORACLE">
    <providerMappings>
      <add databaseType="EntLibContrib.Data.OdpNet.OracleDatabase, EntLibContrib.Data.OdpNet" name="Oracle.DataAccess.Client"/>
    </providerMappings>
  </dataConfiguration>
  <connectionStrings>
    <add name="IB_GENEL" connectionString="Data Source=LOCALLSTR;Initial Catalog=IB_GENEL;integrated Security=false; Uid=ebakanlikfull;pwd=ebakanlikfull;" providerName="System.Data.SqlClient"/>
    <add name="IB_GENEL_ORACLE" connectionString="Data Source=10.0.150.83/orcl;User Id=IB_SUC;Password=Suc_14" providerName="Oracle.DataAccess.Client"/>
    <add name="IB_GENEL_READONLY" connectionString="Data Source=LOCALLSTR;integrated Security=false; Uid=ebakanlikfull;pwd=ebakanlikfull;ApplicationIntent=ReadOnly;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="EBakanlikCustomBinding" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <binaryMessageEncoding maxReadPoolSize="128" maxWritePoolSize="128" maxSessionSize="4096">
            <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="314572800" maxBytesPerRead="314572800" maxNameTableCharCount="32768"/>
          </binaryMessageEncoding>
          <tcpTransport manualAddressing="false" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" connectionBufferSize="65536" hostNameComparisonMode="StrongWildcard" channelInitializationTimeout="00:02:00" maxBufferSize="2147483647" maxPendingConnections="2000" maxOutputDelay="00:00:00.2000000" maxPendingAccepts="1000" transferMode="Buffered" listenBacklog="800" portSharingEnabled="true" teredoEnabled="false">
            <connectionPoolSettings groupName="default" leaseTimeout="00:10:00" idleTimeout="00:02:00" maxOutboundConnectionsPerEndpoint="400"/>
          </tcpTransport>
        </binding>
      </customBinding>
      <basicHttpBinding>
        <binding name="EBakanlikHttpBinding" maxReceivedMessageSize="314572800" maxBufferSize="314572800" receiveTimeout="01:00:00" closeTimeout="01:00:00" sendTimeout="01:00:00" openTimeout="01:00:00">
          <readerQuotas maxStringContentLength="314572800" maxDepth="314572800" maxArrayLength="314572800" maxNameTableCharCount="314572800"/>
          <security mode="None"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="DefaultBehavior">
          <!-- "ErrorHandlerExtension" ve "OperationInspectorExtension" tag'leri hata veriyor gibi görünüyor ama bu tag'ler kaldırıldığında local'de 
							 ErrorHandlerBehavior ve OperationInspector class'ları çalışmıyor. Bu nedenle bu tag'leri silmeyin. Hakan Keskin 30.09.2010-->
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceThrottling maxConcurrentCalls="400" maxConcurrentInstances="4000" maxConcurrentSessions="4000"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral"/>
        Assembly versions can be redirected in app,
        publisher policy, or machine configuration files.
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac.Integration.Web" publicKeyToken="17863af14b0044da" culture="neutral"/>
        Assembly versions can be redirected in app,
        publisher policy, or machine configuration files.
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac.Integration.Mvc" publicKeyToken="17863af14b0044da"/>
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0"/>
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>-->
    </assemblyBinding>
  </runtime>
</configuration>
